@model IPT.Web.Models.AccountModel.UserViewModel
@*@{
    ViewData["Title"] = "Users";
}*@

<div class="row row-sm mg-t-20">
    <div class="col-xl-12">
        <div class="card pd-20 pd-sm-40 form-layout form-layout-4">
            <h6 class="card-body-title">Users</h6>
            <p class="mg-b-20 mg-sm-b-30"> Assign User to Role</p>
            <form role="form" method="post" asp-action="CreateUserRole">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="row">
                    <label class="col-sm-2 form-control-label">Username : <span class="tx-danger">*</span></label>
                    <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                        <select asp-for="Id" asp-items="@ViewBag.users"
                                class="form-control custom-select" required onchange="DoPostBack();">
                            <option value="">Please select one</option>
                        </select>
                    </div>
                </div><!-- row -->
                <div class="row mg-t-20">
                    <label class="col-sm-2 form-control-label">Role: <span class="tx-danger">*</span></label>
                    <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                        @*<select asp-for="RoleId" asp-items="@ViewBag.roles"
                                class="form-control custom-select" required>
                            <option value="">Please select one</option>
                        </select>*@
                        @{
                            var UserRole = ViewBag.roles as List<IPT.Web.Models.AccountModel.UserRoleViewModel>;

                            <table id="tblUserEdit" class="table table-bordered">

                                @for (int i = 0; i < UserRole.Count(); i++)
                                    {
                                    <tbody>
                                        <tr>
                                            @*<td>@Html.CheckBox("UserRole[" + @i + "].SelectedRole", UserRole[i].SelectedRole)</td>*@
                                            <td>
                                                <input type="checkbox" asp-for="@UserRole[i].SelectedRole" value="true" checked="@UserRole[i].SelectedRole" />
                                            </td>
                                            <td> @Html.TextBox("UserRole[" + @i + "].Role", UserRole[i].Role, new { @readonly = "readonly", @class = "qty readonly" })</td>
                                        </tr>
                                    </tbody>
                                    }
                            </table>

                        }


                    </div>
                </div>
                <div class="form-layout-footer mg-t-30">
                    <button class="btn btn-info mg-r-5">Submit</button>
                    <a class="btn btn-secondary" asp-controller="Account" asp-action="Roles">Cancel</a>
                </div><!-- form-layout-footer -->
            </form>
        </div><!-- card -->
    </div><!-- col-6 -->

</div>
<script type="text/javascript">
    function DoPostBack() {
        var select = document.getElementById("Id");
        var option = select.options[select.selectedIndex];
       // alert(option.value); //CreateUserRole

        // var project = $("#MarketerName").val();
        if (option.value != "") {
            var Table = document.getElementById("tblUserEdit");
            Table.innerHTML = "";
            document.forms[1].action = "/Account/AssignUserRole/";
            document.forms[1].method = "POST";
            document.forms[1].submit();
        }
    }
</script>