@model IEnumerable<IPT.Web.Models.AccountModel.UserViewModel>
@{
    ViewBag.Title = "Users";
}


<div class="card pd-20 pd-sm-40">
    @*<h6 class="card-body-title">User</h6>*@
    @*<p class="mg-b-20 mg-sm-b-30">Searching, ordering and paging goodness will be immediately added to the table, as shown in this example.</p>*@

    <div class="right">
        <a asp-controller="Account" asp-action="CreateUser" alt="Create" class="btn btn-primary"> Create User </a>
    </div>
    <div class="table-wrapper">
        <table id="datatable1" class="table display responsive nowrap">
            <thead>
                <tr>
                    <th class="wd-5p">S/N</th>
                    <th class="wd-15p">First name</th>
                    <th class="wd-15p">Last name</th>
                    <th class="wd-20p">Department</th>
                    <th class="wd-15p">Unit</th>
                    <th class="wd-10p">Email</th>
                    <th class="wd-10p"></th>
                </tr>
            </thead>
            <tbody>
                @{
                    int i = 0;
                }
                @foreach (var user in Model)
                {
                    <tr>
                        <td>@(i = i + 1)</td>
                        <td>@user.FirstName</td>
                        <td>@user.LastName</td>
                        <td>@user.Department</td>
                        <td>@user.Unit</td>
                        <td>@user.Email</td>
                        <td><a asp-controller="Account" asp-action="EditUser" asp-route-id="@user.Id" alt="Edit" class="btn btn-primary btn-icon"> <div><i class="fa fa-pencil"></i></div></a>|<a asp-action="Delete" asp-route-id="@user.Id" class="btn btn-danger btn-icon"><div><i class="fa fa-trash-o"></i></div></a> </td>

                    </tr>
                }
            </tbody>
        </table>
    </div><!-- table-wrapper -->
</div><!-- card -->



    @*<script>
        $('#datatable1').DataTable({
            responsive: true,
            language: {
                searchPlaceholder: 'Search...',
                sSearch: '',
                lengthMenu: '_MENU_ items/page',
            }
        });
    </script>*@


